<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<mat-tab-group>
  <mat-tab label="Introdution">  
    This is the introduction of AutoCompletion with a Close Button. <br>
    <br>
    AutoCompletion with a Close Button is a Module creating by FNST JiangYin Branch
    based on Angular Material Lib.<br><br>

    When you fill someting in the inputbox as follows, the close button will show.<br>
    When you click the close button, what you have inputed will be cleared.<br>
    When the inputbox have been cleared, the close button will disppear.<br><br>

    You can have a try with the AutoCompletion inputbox as follows.<br>
    <enl-foo></enl-foo>
  </mat-tab>
  <mat-tab label="Brief API">
    API reference for AutoCompletion with a Close Button.<br><br>
    First: import module as follows:<br>
    import {{ '{' }} ExampleNg6LibModule{{ '}' }}  from "ng-fnst-jy-1";
    <br><br>

    Second: write code in template as follow:<br>
    {{'<'}}enl-foo{{'>'}}{{'<'}}{{'/'}}enl-foo{{'>'}}


  </mat-tab>
  <mat-tab label="Demo"> <enl-foo></enl-foo> </mat-tab>
</mat-tab-group>
