<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<mat-tab-group>
  <mat-tab label="Introdution">  
    This is the introduction of AutoCompletion with a Close Button. <br>
    <br>
    AutoCompletion with a Close Button is a Module creating by FNST JiangYin Branch
    based on Angular Material Lib.<br><br>

    When you fill someting in the inputbox as follows, the close button will show.<br>
    When you click the close button, what you have inputed will be cleared.<br>
    When the inputbox have been cleared, the close button will disppear.<br><br>

    You can have a try with the AutoCompletion inputbox as follows.<br>
    <enl-foo></enl-foo>
  </mat-tab>
  <mat-tab label="Brief API">
    API reference for AutoCompletion with a Close Button.<br><br>
    First: import module as follows:<br>
    import {{ '{' }} ExampleNg6LibModule{{ '}' }}  from "ng-fnst-jy-1";
    <br><br>

    Second: write code in template as follow:<br>
    {{'<'}}enl-foo{{'>'}}{{'<'}}{{'/'}}enl-foo{{'>'}}


  </mat-tab>
  <mat-tab label="Demo">
    <h3>AutoCompletion with Close button:</h3> 
    <enl-foo></enl-foo>

    Source code can be downloaded here:
    <a mat-button href="https://github.com/ropex/test/tree/master" target="_blank">Soure Code</a>
  
  </mat-tab>
</mat-tab-group>
